.register-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    background-color: #ffffff;
    margin-bottom: 100px;
} 